{{#if showDialog}}
  {{#modal-dialog 
    onClose=(action 'cancelDialog') 
    translucentOverlay=true
  }}
    <div class='box column'>
      <div class='u__mb__30'>
        {{messageBody}}
      </div>
      <div class='box row spaced'>
        <div class='button edit' {{action 'cancelDialog'}}>
          {{messageCancel}}
        </div>
        <div class='button negative' {{action 'continueDialog'}}>
          {{messageContinue}}
        </div>
      </div>
    </div>
  {{/modal-dialog}}
{{/if}}