<div class='box column u__pt__10 u__pb__10 page-creator__page-item__add-page'>
  <div class='horizontally-align'>
    <div class='button positive u__mr__10' {{action 'addPage'}}>
      Add page
    </div>
  </div>
</div>

{{#each pages as |page index|}}
  <div {{action 'selectPage' page.id bubbles=false}}>
    {{#if (gt index 0)}}
      {{page-item
        page=page 
        activePage=activePage
      }}
    {{else}}
      {{page-item classNames='o__first-page-item' 
        page=page 
        activePage=activePage
      }}
    {{/if}}
  </div>
{{/each}}