<div class='box row u__mb__20'>
  <div class='word-count box column o__vertical-align u__mr__10'>
    ({{optionLength}}/{{maxOptionLength}})
  </div>

  {{input class='page-creator o__path-name__editor u__mr__10'
    placeholder='Path description' 
    maxlength=maxOptionLength
    value=path.option
  }}

  {{#power-select
    tagName='div'
    class='destination_selector u__mr__10'
    classNameBindings='hasPathError:u__error-borders'
    options=pages
    searchField='name'
    placeholder=(if hasNoPages 'Create a page first')
    selected=selectedPage
    onchange=(action 'updatePath' path)
    as |page|
  }}
    {{if page.name page.name 'Untitled page'}}
  {{/power-select}}

  <div class='button edit u__mr__10 {{unless path.pageId 'o__disabled'}}' {{action 'goToPath' index}}>
    ⬎
  </div>

  <div class='button negative' {{action 'removePath' index}}>
    Remove
  </div>
</div>
