<div class='box row u__mb__20'>
  {{#unless showPreview}}
    <div class='box row u__mr__10'>
      {{input class='page-creator o__path-name__editor u__mr__10' 
        placeholder='Path description' 
        value=path.option
      }}

      {{#power-select
        tagName='div'
        class='destination_selector u__mr__10'
        classNameBindings='hasPathError:u__error-borders'
        placeholder='Path'
        options=pages
        searchField='name'
        selected=(selected-page pages=pages pageId=path.pageId)
        onchange=(action 'updateDestination' path)
        as |page|
      }}
        {{page.name}}
      {{/power-select}}

      <div class='button negative' {{action 'removePath' index}}>
        Remove
      </div>
    </div>
  {{/unless}}
  
  <div class='button {{if showPreview 'edit' 'positive'}} {{if (and showPreview hasPathError) 'u__error-borders'}}' {{action 'togglePreview'}}>
    {{unless showPreview 'Preview' path.option}}
  </div>
</div>