<div class='story__title horizontally-align'>
  {{title}}
</div>

<div class='u__sp__3'></div>

<div class='horizontally-align'>
  A {{formattedGenres}} story
</div>
{{#if authors}}
  <div class='horizontally-align'>
    by {{authors}}
  </div>
{{/if}}

<div class='u__sp__3'></div>

<div class='horizontally-align'>
  {{description}}
</div>

<div class='u__sp__3'></div>

<div class='horizontally-align'>
  {{#if firstPageId}}
    <div class='button cta' {{action 'loadNextPage' firstPageId}}>
      Begin
    </div>
  {{else}}
    Coming soon
  {{/if}}
</div>