<div class='u__sp__5'></div>

<div class='box column card horizontally-align o__signup'>
  <div class='u__sp__1'></div>

  <div class='signup__title horizontally-align'>
    Create a story
  </div>

  <div class='signup__form'>
    <div>
      <div>
        Title ({{titleLength}}/{{maxTitleLength}})
      </div>
      <div>
        {{input classNames='horizontally-align' autofocus=true value=title maxlength=maxTitleLength}}
      </div>
    </div>

    <div class='u__sp__2'></div>

    <div>
      <div>
        Premise ({{premiseLength}}/{{maxPremiseLength}})
      </div>
      <div>
        {{textarea classNames='horizontally-align' value=premise maxlength=maxPremiseLength rows=10 classNames='creation__premise'}}
      </div>
    </div>

    <div class='u__sp__2'></div>

    <div>
      <div>
        Genre
      </div>
      <div>
        {{#power-select-multiple
          classNames='horizontally-align'
          options=genres
          selected=selectedGenres
          onchange=(action (mut selectedGenres))
          as |genre|
        }}
          {{genre.genre}}
        {{/power-select-multiple}}
      </div>
    </div>
  </div>
  
  <div class='u__sp__2'></div>
  
  <div class='button cta horizontally-align' {{action 'createStory'}}>
    Create
  </div>
</div>