<div class='u__sp__5'></div>

<div class='box column card horizontally-align'>
  <div class='u__sp__4'></div>

  <div class='story__create__title horizontally-align'>
    Create a story
  </div>

  <div class='story__create__form'>
    Title ({{titleLength}}/{{maxTitleLength}})
    {{input classNames='horizontally-align' classNameBindings='missingTitle:u__error-borders' autofocus=true value=title maxlength=maxTitleLength placeholder=(if missingTitle 'Required')}}

    <div class='u__sp__2'></div>

    <div>
      Premise ({{premiseLength}}/{{maxPremiseLength}})
      {{textarea classNames='horizontally-align creation__premise' value=premise maxlength=maxPremiseLength rows=10 placeholder='Optional'}}
    </div>

    <div class='u__sp__2'></div>

    Genre
    {{#power-select-multiple
      triggerClass=(if missingGenre 'u__error-borders')
      options=genres
      placeholder=(if missingGenre 'Select at least one genre')
      selected=selectedGenres
      onchange=(action (mut selectedGenres))
      as |genre|
    }}
      {{genre.genre}}
    {{/power-select-multiple}}
  </div>
  
  <div class='u__sp__2'></div>
  
  <div class='button positive horizontally-align' {{action 'createStory'}}>
    Create
  </div>

  <div class='u__sp__5'></div>
</div>