<div class='u__sp__5'></div>

<div class='box column'>
  <div class='card page-creator__story-name box column horizontally-align'>
    <div class='horizontally-align'>
      {{story.title}}
    </div>
  </div>

  <div class='u__sp__3'></div>

  <div class='box row'>
    {{page-list 
      classNames='card page-creator__list'
      pages=pages
      selectPage=(action 'selectPage')
    }}

    <div class='page-creator__editor box column'>
      <div class='card page-creator__content-editor box column horizontally-align'>
        <div class='horizontally-align'>
          Page Name
          <div>
            {{input classNames='horizontally-align' value=activePage.name}}
          </div>
        </div>

        <div class='u__sp__3'></div>

        <div class='horizontally-align'>
          Page Content
          <div>
            {{textarea classNames='horizontally-align' rows=10 value=activePage.content}}
          </div>
        </div>
      </div>

      <div class='u__sp__3'></div>

      <div class='card page-creator__options-editor box column horizontally-align'>
        <div class='horizontally-align'>
          Options
        </div>

        <div class='u__sp__2'></div>

        {{#each destinations as |destination|}}
          <div class='box row u__mb__20'>
            <div class='u__mr__10'>
              Option: {{input classNames='horizontally-align' value=destination.option}}
            </div>

            <div>
              <div class='box row'>
                <div>
                  Destination: 
                </div>
                {{#power-select
                  options=pages
                  selected=(selected-page pages=pages pageId=destination.pageId)
                  onchange=(action 'updateDestination' destination)
                  as |page|
                }}
                  {{page.name}}
                {{/power-select}}
              </div>
            </div>
          </div>
        {{/each}}

        <div class='horizontally-align'>
          <div class='box row'>
            <div class='button cta u__mr__10' {{action 'addDestination'}}>
              Add destination
            </div>

            <div class='button cta' {{action 'removeDestination'}}>
              Remove destination
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>