<div class='box column'>
  <div class='box row'>
    {{input autoresize=true classNames='page-creator__story-title__input page-creator__unstyled-input' placeholder='Enter a title' value=story.title}}
  </div>

  <div class='box row'>
    {{page-list 
      classNames='card page-creator__list'
      pages=pages
      selectPage=(action 'selectPage')
      addPage=(action 'addPage')
      activePage=activePage
    }}

    <div class='page-creator__editor box column'>
      <div class='card page-creator__page-editor box column horizontally-align'>
        {{input autoresize=true classNames='page-creator__page-title__input page-creator__unstyled-input' placeholder='Give the page a name to remember by' value=activePage.name}}

        <div class='u__sp__1'></div>

        {{textarea autoresize=true classNames='page-creator__page-content__input page-creator__unstyled-input horizontally-align' rows=5 placeholder='Write your story here' value=activePage.content}}         

        <div class='u__sp__1'></div>

        <div class='box column o__right-align'>
          {{#each destinations as |path index|}}
            {{path-selector path=path pages=pages index=index removePath=(action 'removePath')}}
          {{/each}}
        </div>

        <div class='box column o__right-align'>
          <div class='button positive u__mb__20' {{action 'addDestination'}}>
            Add Path
          </div>
        </div>
      </div>

      <div class='u__sp__2'></div>

      <div class='horizontally-align'>
        <div class='box row'>
          <div class='button positive u__mr__10' {{action 'savePage'}}>
            Save page
          </div>

          <div class='button negative u__mr__10' {{action 'removePage'}}>
            Remove page
          </div>
        </div>
      </div>
    </div>
  </div>
</div>