<div class='box column'>
  <div class='box row spaced'>
    <div class='box column'>
      <div class='page-creator o__story-title'>
        {{story.title}}
      </div>

      <div class='page-creator o__story-premise'>
        {{story.description}}
      </div>
    </div>
    <div class='box column o__vertical-align'>
      <div class='box row'>
        <div class='button negative u__mr__10' {{action 'toggleDeleteConfirmation'}}>
          Delete story
        </div>
        <div class='button edit page-creator__edit-story__button' {{action 'editStory'}}>
          Edit story details
        </div>
      </div>
    </div>
  </div>

  <div class='box row'>
    <div class='box column page-creator__left-column'>
      {{page-list 
        classNames='card page-creator__list'
        pages=pages
        selectPage=(action 'selectPage')
        addPage=(action 'addPage')
        activePage=activePage
      }}

      <div class='u__sp__2'></div>
      <div class='horizontally-align'>
        <div class='button negative {{if isFirstPage 'o__disabled'}}' {{action 'removePage'}}>
          Remove page
        </div>
        {{#if isFirstPage}}
          {{tooltip-on-element 
            side='bottom' 
            delay=500
            text='Cannot remove first page'
          }}
        {{/if}}
      </div>
    </div>

    <div class='page-creator__editor box column'>
      <div class='card page-creator__page-editor box column horizontally-align'>
        <div class='box row spaced'>
          {{input autoresize=true 
            classNames='page-creator o__page-title__input page-creator__unstyled-input' 
            placeholder='Give this page a name to remember by' 
            value=activePage.name
            maxlength=maxPageNameLength
            autofocus=(if hasNoName 'autofocus')
          }}

          {{#if isFirstPage}}
            <div class='tooltip u__mt__10'>
              This page is currently the first page of the story
            </div>
          {{else}}
            <div class='button edit u__mt__10' {{action 'setAsFirstPage'}}>
              Set as start of story
            </div>
          {{/if}}
        </div>

        <div class='u__sp__1'></div>

        {{textarea autoresize=true 
          classNames='page-creator o__page-content__input page-creator__unstyled-input horizontally-align' 
          rows=10 
          placeholder='Write your story here' 
          maxlength=maxPageContentLength
          value=activePage.content
        }}
        <div class='word-count box column u__mt__5'>
          ({{contentLength}}/{{maxPageContentLength}})
        </div>    

        <div class='u__sp__1'></div>

        <div class='box column o__right-align'>
          {{#if hasPaths}}
            {{#each paths as |path index|}}
              {{path-selector path=path pages=pages index=index removePath=(action 'removePath')}}
            {{/each}}
          {{else}}
            <div class='tooltip u__mb__10'>
              Because this page has no paths, it’s the end of the story and will lead back to the beginning
            </div>
          {{/if}}
        </div>

        <div class='box column'>
          <div class='box row spaced u__mb__20'>
            <div class='button positive' {{action 'savePage'}}>
              Save
            </div>
            <div class='button positive' {{action 'addDestination'}}>
              Add path
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{{confirmation-dialog 
  messageBody=deleteConfirmationBody
  messageContinue='Delete'
  messageCancel='Cancel'
  showDialog=showDeleteConfirmation
  continueDialog=(action 'deleteStory')
}}