<div class='box column'>
  <div class='box row spaced'>
    <div class='box column'>
      {{input autoresize=true classNames='page-creator o__story-title__input page-creator__unstyled-input' placeholder='Enter a title' value=story.title}}

      {{input autoresize=true classNames='page-creator o__story-premise__input page-creator__unstyled-input' placeholder='Describe your story' value=story.description}}
    </div>
    <div class='box column o__vertical-align'>
      <div class='button edit page-creator__edit-story__button'>
        Edit Story Details
      </div>
    </div>
  </div>

  <div class='box row'>
    <div class='box column page-creator__left-column'>
      {{page-list 
        classNames='card page-creator__list'
        pages=pages
        selectPage=(action 'selectPage')
        addPage=(action 'addPage')
        activePage=activePage
      }}

      <div class='u__sp__2'></div>
      <div class='horizontally-align'>
        <div class='button negative' {{action 'deleteStory'}}>
          Delete Story
        </div>
      </div>
    </div>

    <div class='page-creator__editor box column'>
      <div class='card page-creator__page-editor box column horizontally-align'>
        <div class='box row spaced'>
          {{input autoresize=true classNames='page-creator o__page-title__input page-creator__unstyled-input' placeholder='Give the page a name to remember by' value=activePage.name}}

          {{#unless isFirstPage}}
            <div class='page-creator__set-first-page__button button positive' {{action 'setAsFirstPage'}}>
              Set as start of story
            </div>
          {{/unless}}
        </div>

        <div class='u__sp__1'></div>

        {{textarea autoresize=true classNames='page-creator o__page-content__input page-creator__unstyled-input horizontally-align' rows=10 placeholder='Write your story here' value=activePage.content}}         

        <div class='u__sp__1'></div>

        <div class='box column o__right-align'>
          {{#each destinations as |path index|}}
            {{path-selector path=path pages=pages index=index removePath=(action 'removePath')}}
          {{/each}}
        </div>

        <div class='box column o__right-align'>
          <div class='button positive u__mb__20' {{action 'addDestination'}}>
            Add Path
          </div>
        </div>
      </div>

      <div class='u__sp__2'></div>

      <div class='horizontally-align'>
        <div class='box row'>
          <div class='button negative u__mr__10' {{action 'removePage'}}>
            Remove
          </div>

          <div class='button positive' {{action 'saveStory'}}>
            Save
          </div>
        </div>
      </div>
    </div>
  </div>
</div>