<div class='toolbar box row'>
  <div class='box row'>
    <div class='u__mr__15'>
      {{#link-to 'stories'}}
        <img class='toolbar__logo' src='/assets/icons/logo.png'>
      {{/link-to}}
    </div>

    <div class='box column o__vertical-align toolbar__name'>
      {{link-to 'Who Am I?' 'stories'}}
    </div>
  </div>

  <div class='box row toolbar__items'>
    <div class='box column o__vertical-align u__mr__15'>
      {{#if session.isAuthenticated}}
        {{link-to 'Create story' 'stories.create'}}
      {{else}}
        {{link-to 'Sign in' 'signin'}}
      {{/if}}
    </div>

    <div class='box column o__vertical-align'>
      {{#if session.isAuthenticated}}
        <a href='/' {{action 'signout'}}>Sign out</a>
      {{else}}
        {{link-to 'Sign up' 'signup'}}
      {{/if}}
    </div>
  </div>
</div>
<div class='background'>
  {{outlet}}
</div>