<div class='toolbar spaced box row'>
  <div class='box row'>
    <div class='u__mr__15'>
      {{#link-to 'stories'}}
        <img class='toolbar__logo' src='/assets/icons/logo.png'>
      {{/link-to}}
    </div>

    <div class='box column o__vertical-align toolbar__name'>
      {{link-to 'Who Am I?' 'stories'}}
    </div>
  </div>

  <div class='box row toolbar__items'>
    {{#unless session.isAuthenticated}}
      {{link-to 'Sign in' 'signin' classNames='box column o__vertical-align u__mr__15'}}
    {{/unless}}

    <div class='box column o__vertical-align user-dropdown__wrapper'>
      {{#if session.isAuthenticated}}
        <a href='/' {{action 'clickMe'}}>{{currentUser.user.username}}</a>
        {{#if showUserDropdown}}
          {{user-dropdown classNames='user-dropdown__menu' signout=(action 'signout') closeMenu=(action 'clickMe')}}
        {{/if}}
      {{else}}
        {{link-to 'Sign up' 'signup'}}
      {{/if}}
    </div>
  </div>
</div>
<div class='background'>
  {{outlet}}
</div>