<div class='toolbar'>
  <div class='box row'>
    <div>
      {{#link-to 'stories'}}
        <img class='toolbar__logo' src='/assets/icons/logo.png'>
      {{/link-to}}
    </div>

    <div class='box column o__vertical-align toolbar__name u__ml__15'>
      {{link-to 'Who Am I?' 'stories'}}
    </div>

    <div class='toolbar__spacer'></div>

    <div class='box column o__vertical-align toolbar__create'>
      {{#if session.isAuthenticated}}
          {{link-to 'Create story' 'stories.create'}}
      {{else}}
        {{link-to 'Sign in' 'signin'}}
      {{/if}}
    </div>

    <div class='box column o__vertical-align toolbar__signup'>
      {{#if session.isAuthenticated}}
        <a {{action 'signout'}}>Sign out</a>
      {{else}}
        {{link-to 'Sign up' 'signup'}}
      {{/if}}
    </div>
  </div>
</div>
<div class='background'>
  {{outlet}}
</div>