<div class='u__sp__5'></div>

<div class='box column card horizontally-align'>
  <div class='u__sp__4'></div>

  <div class='settings__title horizontally-align'>
    Settings
  </div>

  <div class='settings__form'>
    New Email
    {{input classNames='horizontally-align' 
      classNameBindings='emailError:u__error-borders'
      autofocus=true value=email 
      placeholder='Optional' 
      enter='saveSettings'
    }}

    <div class='u__sp__2'></div>

    New Username
    {{input classNames='horizontally-align' 
      classNameBindings='usernameError:u__error-borders'
      value=username 
      placeholder='Optional' 
      enter='saveSettings'
    }}

    <div class='u__sp__2'></div>

    New Password
    {{input type='password' 
      classNames='horizontally-align'
      classNameBindings='newPasswordError:u__error-borders'
      value=password 
      placeholder='Optional, with a minimum of 8 characters'
      enter='saveSettings'
    }}

    <div class='u__sp__2'></div>

    Old Password
    {{input type='password' 
      classNames='horizontally-align' 
      classNameBindings='oldPasswordError:u__error-borders' 
      value=oldPassword 
      placeholder='Required' 
      enter='saveSettings'}}
  </div>
  
  <div class='u__sp__2'></div>
  
  <div class='button positive horizontally-align' {{action 'saveSettings'}}>
    Save
  </div>

  {{#if errorMessage}}
    <div class='u__sp__3'></div>

    <div class='horizontally-align u__error-text'>
      {{errorMessage}}
    </div>
  {{/if}}

  <div class='u__sp__5'></div>
</div>