<div class='u__sp__5'></div>

<div class='box column card horizontally-align'>
  <div class='u__sp__4'></div>

  <div class='settings__title horizontally-align'>
    Settings
  </div>

  <div class='settings__form'>
    New Email
    {{input classNames='horizontally-align' 
      autofocus=true value=email 
      placeholder='Optional' 
      enter='saveSettings'
    }}

    <div class='u__sp__2'></div>

    New Username
    {{input classNames='horizontally-align' 
      value=username 
      placeholder='Optional' 
      enter='saveSettings'
    }}

    <div class='u__sp__2'></div>

    New Password
    {{input type='password' 
      classNames='horizontally-align' 
      value=password 
      placeholder='Optional' 
      enter='saveSettings'
    }}

    <div class='u__sp__2'></div>

    Old Password
    {{input type='password' 
      classNames='horizontally-align' 
      classNameBindings='missingOldPassword:u__error-borders' 
      value=oldPassword 
      placeholder='Required' 
      enter='saveSettings'}}
  </div>
  
  <div class='u__sp__2'></div>
  
  <div class='button positive horizontally-align' {{action 'saveSettings'}}>
    Save
  </div>

  <div class='u__sp__5'></div>
</div>