<div class='u__sp__5'></div>

<div class='box column card horizontally-align'>
  <div class='u__sp__4'></div>

  <div class='signup-signin__title horizontally-align'>
    Get started with CYOA
  </div>

  <div class='signup-signin__form'>
    <div>
      <div>
        Email
      </div>
      <div>
        {{input classNames='horizontally-align' 
          classNameBindings='missingEmail:u__error-borders' 
          autofocus=true 
          value=email 
          enter='signup' 
          placeholder=(if missingEmail 'Required')
        }}
      </div>
    </div>

    <div class='u__sp__2'></div>

    <div>
      <div>
        Username
      </div>
      <div>
        {{input classNames='horizontally-align' 
          classNameBindings='missingUsername:u__error-borders' 
          value=username 
          enter='signup' 
          placeholder=(if missingUsername 'Required')
        }}
      </div>
    </div>

    <div class='u__sp__2'></div>

    <div>
      <div>
        Password
      </div>
      <div>
        {{#unless missingPassword}}
          {{password-toggle password=password
            wrapperClass='horizontally-align'
            enter='signup'
            placeholder=(if missingPassword 'Required')
          }}
        {{else}}
          {{password-toggle password=password
            wrapperClass='horizontally-align'
            inputClass='u__error-borders'
            enter='signup'
            placeholder=(if missingPassword 'Required')
          }}
        {{/unless}}
      </div>
    </div>
  </div>
  
  <div class='u__sp__2'></div>

  <div class='horizontally-align'>
    <span class='button positive u__mr__15' {{action 'signup'}}>
      Sign Up
    </span>
    <span>
      {{link-to 'or sign in to your account' 'signin' (query-params email=email)}}
    </span>
  </div>

  {{#if errorMessage}}
    <div class='u__sp__2'></div>

    <div class='horizontally-align u__error-text'>
      {{errorMessage}}
    </div>

    <div class='u__sp__3'></div>
  {{else}}
    <div class='u__sp__5'></div>
  {{/if}}
</div>