<div class='u__sp__5'></div>

<div class='box column card horizontally-align'>
  <div class='u__sp__4'></div>

  <div class='horizontally-align'>
    Sign in to 50 Million Dollars
  </div>

  <div class='signup-signin__form'>
    Email
    {{input classNames='horizontally-align' 
      classNameBindings='missingEmail:u__error-borders' 
      autofocus=true 
      value=signInEmail 
      enter='signin' 
      placeholder=(if missingEmail 'Required')
    }}

    <div class='u__sp__2'></div>

    Password
    {{input type='password' 
      classNames='horizontally-align' 
      classNameBindings='missingPassword:u__error-borders' 
      value=password 
      enter='signin' 
      placeholder=(if missingPassword 'Required')
    }}

  </div>
  
  <div class='u__sp__2'></div>
  
  <div class='horizontally-align'>
    <span class='button positive u__mr__15' {{action 'signin'}}>
      Sign In
    </span>
    <span>
      {{link-to 'or create an account' 'signup' (query-params email=(or signInEmail email))}}
    </span>
  </div>

  <div class='u__sp__3'></div>
  
  <div class='horizontally-align'>
    {{link-to 'Forgot your password?' 'forgot-password' (query-params email=(or signInEmail email))}}
  </div>

  {{#if loginError}}
    <div class='u__sp__2'></div>

    <div class='horizontally-align u__error-text'>
      Invalid login
    </div>

    <div class='u__sp__3'></div>
  {{else}}
    <div class='u__sp__3'></div>
  {{/if}}
</div>